.app {
    display: flex;
    flex-direction: column;
    gap : 2rem;
    font-family: 'Questrial';
    letter-spacing: 0.5px;
}
.card__container{
    padding: 3rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 5rem;
    grid-template-columns: auto auto;
}